click==7.1.2
Flask==1.1.2
joblib==1.0.1
numpy==1.20.2
pandas==1.2.3
pytorch-crf==0.7.2
pytorch-lightning==1.2.7
scikit-learn==0.24.1
scipy==1.6.2
sklearn==0.0
spacy==3.0.6
summarizers==1.0.4
tokenizers==0.10.2
toml==0.10.2
torch==1.8.1
TorchCRF==1.1.0
torchmetrics==0.3.1
tqdm==4.60.0
transformers==4.5.0
typer==0.3.2

